<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Grupa Przedsiębiorstw Alpinistycznych</title>
<meta name="author" content="Joanna Zdżalik">
<meta name="description" content="GPA">
<link rel="shortcut icon" th:href="@{images/favicons/favicon.ico}">
<link rel="icon" sizes="16x16 32x32 64x64"
	th:href="@{images/favicons/favicon.ico}">
<link rel="stylesheet" type="text/css" th:href="@{/css/form.css}">
<link
	href='http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext'
	rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link th:rel="stylesheet"
	th:href="@{/assets/izitoast/css/iziToast.css} " />
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css} " />
</head>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/izitoast/js/iziToast.min.js}"></script>
<script type="text/javascript" src="../static/js/form.js"
	th:src="@{/js/form.js}"></script>

<body>
	<form id="offerForm" th:action="@{/addoffer}" method="post"
		th:object="${offerToCreate}">
		<div class="container formBox">		
<h3>Tworzenie oferty</h3>
			<!--Tytuł -->
			<div class="d-flex flex-row justify-content-center">
				<div class="form-group col-md-8 mb-20">
					<label for="title">Tytuł oferty: </label> <input type="text"
						id="title" class="form-control" placeholder="Wprowadź tytuł..."
						th:field="*{title}" >
				</div>
			</div>

			<!-- Zakres prac-->
			<!-- 	<div class="d-flex flex-row justify-content-center mt-20">
				<div class="form-group col-8 mb-20">
					<label for="price">Wyceniony zakres prac: </label>
					<textarea class="form-control mb-1" rows="1"
						placeholder="Wprowadź pozycję..."></textarea>
					<div class="input-group col-14">
						<input type="number" class="form-control"
							placeholder="Wprowadź cenę [zł]..." />
						<button type="button" class="btn GPAbutton">Dodaj</button>
					</div>
				</div>
			</div> -->



			<!-- Tabela z wypunktowanym zakresem-->
			<!-- <div class="d-flex flex-row justify-content-center " th:switch="${tasksInScope}">
				<table class="table table-sm" id="scopeOfWork" th:case="*">
					<tbody>
						<tr th:each="task : ${tasksInScope}">
							<td class="col-8" th:text="${task.name}"></td>
							<td class="col-2" th:text="${task.price}"></td>
							<td class="col-1">
								<button type="button" class="btn blue">
									<span class="material-icons">edit</span>
								</button>
							</td>
							<td class="col-1">
								<button type="button" class="btn red">
									<span class="material-icons">close</span>
								</button>
							</td>
						</tr>
					</tbody>
					<caption>Całkowity koszt usługi:</caption>
				</table>
				<p th:text="${totalCost}">total cost</p>
			</div> -->

			<!-- VAT-->
			<div class="d-flex flex-row justify-content-center">
				<div class="form-group col-md-8">
					<label for="percentVat">VAT [%]: </label><input type="number"
						step=0.01 min=0 max=100 id="percentVAT" class="form-control"
						th:field="*{percentVAT}">
				</div>
			</div>

			<!-- Szacowany czas prac-->
			<div class="d-flex flex-row justify-content-center ">
				<div class="form-group col-md-8 mb-20">
					<label for="duration">Szacowany czas prac: </label> <input
						type="text" id="durationOfWork" class="form-control"
						th:field="*{durationOfWork}"> <small
						class="form-text text-muted">Np. 6 dni roboczych</small>
				</div>
			</div>

			<!-- Oferta ważna przez-->
			<div class="d-flex flex-row justify-content-center">
				<div class="form-group col-md-8 mb-20">
					<label for="validFor">Oferta ważna przez: </label> <input
						type="text" id="validFor" class="form-control" value="6 miesięcy"
						name="validFor">
				</div>
			</div>

			<!--Dodatkowe informacje -->
			<div class="d-flex flex-row justify-content-center">
				<div class="form-group col-8 mb-20">
					<label for="additionalInfo">Dodatkowe informacje: </label>
					<textarea class="form-control mb-1" rows="5" id="additionalInfo"
						name="additionalInfo">Prace będą wykonywane przy wykorzystaniu technik alpinistycznych. Narzędzia oraz materiały do prowadzenia prac są po stronie wykonawcy. Zleceniodawca jest zobowiązany do zapewnienia dostępu do dachu (wyłaz), wody oraz energii elektrycznej (gniazdko 230 V)w trakcie wykonywania prac.</textarea>
				</div>
			</div>

			<!--Załączniki -->
			<div class="d-flex flex-row justify-content-center mt-20">
				<div class="form-group col-8 mb-20">
					<label for="file">Załącz zdjęcie</label> <input type="file"
						multiple="multiple" accept="" class="form-control-file" id="file">
				</div>
			</div>

			<!-- Przyciski na dole -->
			<div class="d-flex flex-row justify-content-center mt-20 mb-20">
				<button type="submit" class="btn GPAbutton">Zapisz i
					wyślij</button>
				<a class="btn GPAbutton" href="/gpa" role="button">Powrót</a>
			</div>


		</div>
	</form>
</body>
</html>
